extends ./_bootstrap
append styles
  // Custom styles for this template
  link(href='./css/jumbotron-narrow.css', rel='stylesheet')
block body
  .container
    .header.clearfix
      nav
        ul.nav.nav-pills.pull-right
          li.active(role='presentation')
            a(href='#') 主页
          li(role='presentation')
            a(href='#') 关于
          li(role='presentation')
            a(href='#') 联系
      h3.text-muted #{title}
    .jumbotron
      h2 欢迎，#{title}
      p.lead
        | #{message}
      p
        a.btn.btn-lg.btn-success(href='#', role='button') 注册
      script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
      ins.adsbygoogle(style="display:block" data-ad-client=dataAdClient data-ad-slot=adChnl01 data-ad-format="auto")
      script (adsbygoogle = window.adsbygoogle || []).push({});
    .row.marketing
      each blog,i in blogs.blogs
        span.col-xs-12.col-sm-12.col-md-12.col-lg-12
          div.panel.panel-warning
            div.panel-heading
              strong #{blog.id}
            div.panel-body.lead !{blog.content}
          if (i == 2)
            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins.adsbygoogle(style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client=dataAdClient data-ad-slot=adChnl02)
            script (adsbygoogle = window.adsbygoogle || []).push({});
            br
    footer.footer
      p © Minfaatong.tk 2014
      script(src='https://s22.cnzz.com/z_stat.php?id=1265607759&web_id=1265607759')